.app-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    text-align: center;
    letter-spacing: 0.3vw;
    background-color: rgba($color: #ccc, $alpha: 0.3);
    line-height: 8vh;
}