@import './variables';


@mixin center {
    width: 1226px;
    margin: 0 auto;
}

@mixin clearfix {
    content: '';
    display: block;
    clear: both;
}

@mixin header-style {
    height: 40px;
    line-height: 40px;
}

@mixin header-text($float) {
    font-size: 0;
    float: $float;
    @include header-style;
    a{
        font-size: 12px;
        display: inline-block;
        color: $header-font-color;
        span{
            @content;
        }
    }
    span{
        font-size: 12px;
        font-family: sans-serif;
        margin: 0 6px;
        color: #424242;
    }
}