body, div, ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 1200px;
    margin: 20px auto 0;
}
.nav-list{
    width: 1200px;
    height: 44px;
    background: #808080;
}
.nav-list>li{
    float: left;
    padding: 0 30px;
    font-size: 18px;
}
.clearfixed::after{
    display: table;
    content: "";
    clear: both;
}
.nav-list li a{
    display: block;
    height: 43px;
    padding: 0 20px;
    line-height: 43px;
    color: #fff;
    text-align: center;
    border: 1px solid #808080;
    border-bottom: none;
}
.nav-list li a:hover{
    color: #ff6700;
    background: #fff;
    border: 1px solid #c9c9c9;
    border-bottom: none;
}
.show-info{
    display: none;
    position: absolute;
    border: 1px solid #c9c9c9;
    border-top: none;

}
.show-info ul{
    width: 150px;
    height: 135px;
}
.show-info ul a{
    border: none;
    text-align: left;
    padding-left: 10px;
    color: #999;
}
.show-info ul a:hover{
    border: none;
    text-decoration: underline;
}
.show-info ul li a i{
    margin-left: 30px;
}
.come {
    display: none;
    position: absolute;
    width: 320px;
    height: 230px;
    border: 1px solid #c9c9c9;
    border-top: none;
}
.come ul li{
    float: left;
}
.come ul li a{
    display: block;
    font-size: 18px;
    color: #999;
    text-align: left;
    border: none;
}
.come ul li a:hover{
    border: none;
}
.come ul li a i{
    margin-left: 15px;
}