body, div{
    margin: 0;
    padding: 0;
}
.clearfixed::after{
    display: table;
    content: "";
    clear: both;
}
.container{
    position: relative;
    border:  1px solid black;
}
.container div{
    float: left;
}
.item{
    width:  140px;
    font-size: 0;
}
.show{
    width: 440px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 0;
}
.item img{
    width:  140px;
    margin: 5px 0 0 5px;
}
.show img{
    display: none;
    width: 440px;
}
/*框架*/
.box{
    position: absolute;
    top: 7px;
    left: 5px;
}
.show .imgShow{
    display: block;
}